body{
  width: 42em;
  margin: 0px auto;
  line-height: 1.5em;
  background: #333;
}

h1{
  font-family: "AvenirNext-Ultralight", "HelveticaNeue-Ultralight";
  font-weight: normal;
  margin-top: 30px;
  font-size: 3em;
  text-align: center;
  color: white;
}


.number{
  margin-bottom: 30px;
  font-family: "Avenir-light", "HelveticaNeue-Light";
  background: #222;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3em;
}

.number:hover{ 
  background: #111;
}

#add_button:hover{
  background: #444;
}